<html>
    <head>
        <title>Interactive PyMorphous</title>
    </head>
    <body>
    	<h1>Interactive PyMorphous</h1>
        <form action="/" method="post">
        	<label>Select an example below:</label>
        	<select name="example">
        		<option value="">Not Specified</option>
        		{% for (k,v) in examples.items() %}
		         <option value="{{ escape(k) }}">{{ escape(v) }}</option>
		       {% end %}
        	</select>
			<input type="submit" value="Submit">
        </form>
    </body>
</html>